body {
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.header h1 {
    font-size: 40px;
    color: blue;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }